<div id="wrapper">
    <div class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight ibox-content">
            <a class="btn btn-sm btn-white btn-block m-b" ui-sref="home">Back</a>
            <h3 class="m-b">My Contracts</h3>

            <table class="table">
                <tbody >
                <tr ng-repeat="contract in listCtrl.contracts">
                    <td>
                        <span class="label label-primary" ng-show="contract.isValid">Valid</span>
                        <span class="label label-danger" ng-show="!contract.isValid">Invalid</span>
                    </td>
                    <td><a ui-sref="edit({id: $index})">{{ contract.title }}</a></td>
                    <td style="text-align: right" ng-if="contract.approved === null">
                        <button
                                ng-click="listCtrl.approve(contract.address)"
                                ng-disabled="!contract.isValid"
                                class="btn btn-default btn-sm">
                            Approve
                        </button>

                        <button
                                ng-click="listCtrl.reject(contract.address)"
                                ng-disabled="!contract.isValid"
                                class="btn btn-warning btn-sm">
                            Reject
                        </button>
                    </td>
                    <td ng-if="contract.approved !== null">
                        <span ng-show="contract.approved">Approved</span>
                        <span ng-show="!contract.approved">Declined</span>
                    </td>
                </tr>
                <!--<tr>-->
                    <!--<td colspan="3"><pre>{{ contract.body }}</pre></td>-->
                <!--</tr>-->
                </tbody>
            </table>
        </div>
    </div>
</div>